<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <th:block th:replace="fragments/_head.html::head"></th:block>
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->

    <!--_header-->
    <th:block th:replace="fragments/_header.html::header"></th:block>

    <!--fin header-->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="ti-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>
                    Light
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                    Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <th:block th:replace="fragments/_navGestBiblio.html::NavBiblio"></th:block>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="row">
                            <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                <h3 class="font-weight-bold">
                                    Cloturer l'emprunt
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 stretch-card grid-margin">
                    <div class="card">
                        <div class="modal-content">
                            <div class="modal-body">
                                <form class="row justify-content-center gap-3" th:action="@{|/cloturer/${emprunt.id}|}" th:method="post" th:object="${emprunt}">
                                    <div class="col-lg-12 row">
                                        <label for="id" class="form-label">Nom de l'ouvrage</label>
                                        <input th:field="*{id}" type="number" class="form-control" id="id" disabled>
                                    </div>
                                    <div class="col-lg-12 row">
                                        <label for="ouvrageNom" class="form-label">Nom de l'ouvrage</label>
                                        <input th:field="*{ouvrage.nom}" type="text" class="form-control" id="ouvrageNom" disabled>
                                    </div>
                                    <div class="col-lg-12 row">
                                        <label for="utilisateurNom" class="form-label">Nom de l'utilisateur</label>
                                        <input th:field="*{utilisateur.userDto.name}" type="text" class="form-control" id="utilisateurNom" disabled>
                                    </div>
                                    <div class="col-lg-12 row flex-column">
                                        <label for="etat" class="form-label">Etat de l'ouvrage</label>
                                        <textarea th:field="*{etat}" class="form-control" id="etat" required></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Cloturer</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- content-wrapper ends -->

            <!-- Modal for modlanotes  -->
            <th:block
                    th:replace="fragments/_modalsBiblio.html::modalsBiblio"
            ></th:block>

            <!-- End Modal for  moadlnotes  -->

            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <th:block th:replace="fragments/_footer.html::footer"></th:block>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <th:block th:replace="fragments/_js.html::js"></th:block>
</div>
<!-- End custom js for this page-->
</body>
</html>
